<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我不是真正的慕课网</title>
    <link rel="stylesheet" href="/static/css/main.css" type="text/css"/>
</head>

<body>
<div align="center">

    <h1>上传多个附件</h1>
    <form method="post" action="/courses/doUpload2" enctype="multipart/form-data">
        <input type="file" name="file1"/>
        <br/>
        <input type="file" name="file2"/>
        <input type="submit"/>
    </form>

</div>
</body>
</html>