<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myimooc.shiro.web.dao.UserMapper">

    <!-- 查询简单的用户信息 -->
    <select id="getUserByUserName" resultType="com.myimooc.shiro.web.vo.User"
            parameterType="java.lang.String">
	    select username,password
	    from users
	    where username = #{userName}
	</select>

    <select id="queryRolesByUserName" resultType="java.lang.String" parameterType="java.lang.String">
		select role_name
		from user_roles
		where username = #{userName}
	</select>

</mapper>