<html>
<head>
<title>后台数据管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css"
	href="[@common.ctx /]/static/plugin/easyui1.5.1/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="[@common.ctx /]/static/plugin/easyui1.5.1//themes/icon.css">
<script type="text/javascript"
	src="[@common.ctx /]/static/plugin/easyui1.5.1//jquery.min.js"></script>
<script type="text/javascript"
	src="[@common.ctx /]/static/plugin/easyui1.5.1/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="[@common.ctx /]/static/js/jquery.uploadify.v2.1.0.min.js"></script>
<script type="text/javascript"
	src="[@common.ctx /]/static/js/swfobject.js"></script>

<script type="text/javascript"
	src="[@common.ctx /]/static/script/upload.js"></script>
<script type="text/javascript">
	var ctx = '[@common.ctx /]';
</script>
</head>
<body class="easyui-layout">
	<div id="lay" class="easyui-layout" style="width: 100%; height: 100%">
		<div region="center">
			<table id="t_importdata"></table>
		</div>
	</div>
	<div id="templateDialog" title="选择模板" modal=true draggable=false
		class="easyui-dialog" closed=true style="width: 350px; height: 220px">
		<form>
			<table>
				<tr>
					<td>选择模板：</td>
					<td><input id="templates" name="templates"
						class="easyui-combobox" panelHeight="auto"
						url="/import/data/templates" valueField="templateId"
						textField="templateName" value="" /> <a id="okBtn"
						class="easyui-linkbutton">确定</a></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="importDialog" title="导入Excel" modal=true draggable=false
		class="easyui-dialog" closed=true style="width: 350px; height: 220px;">
		<form action="/import/data/upload" enctype="multipart/form-data" method="post">
			<table>
				<tr>
					<td>下载模板:</td>
					<td><a id="downloadTemplate">导入模板</a></td>
				</tr>
				<tr>
					<td>浏览:</td>
					<td><input name="file" type="file"/></td>
				</tr>
				<tr>
					<td colspan="2">
						<input type="submit" value="导入">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div id="importDetailsDialog" title="导入明细查看" modal=true draggable=false
		class="easyui-dialog" closed=true style="width: 800px; height: 500px;">
		<div id="divDataGrid"></div>
	</div>
</body>
</html>
