<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.myimooc.rabbitmq.ha.dao.mapper.OrderMapper">

    <sql id="BaseColumnSelect">
        id,name,message_id
    </sql>

    <sql id="BaseColumnInsert">
        id,name,message_id
    </sql>

    <insert id="insert" parameterType="com.myimooc.rabbitmq.entity.Order">
        insert into t_order(<include refid="BaseColumnInsert"/>)
        values(
        #{id,jdbcType=VARCHAR},
        #{name,jdbcType=VARCHAR},
        #{messageId,jdbcType=VARCHAR}
        )
    </insert>

</mapper>