<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
     <bean id="moocBeforeAdvice" class="com.imooc.aop.api.MoocBeforeAdvice"></bean>
     
     <bean id="moocAfterReturningAdvice" class="com.imooc.aop.api.MoocAfterReturningAdvice"></bean>
     
     <bean id="moocMethodInterceptor" class="com.imooc.aop.api.MoocMethodInterceptor"></bean>
     
     <bean id="moocThrowsAdvice" class="com.imooc.aop.api.MoocThrowsAdvice"></bean>
     
     
     
<!--     <bean id="bizLogicImplTarget" class="com.imooc.aop.api.BizLogicImpl"></bean> -->

<!-- 	<bean id="pointcutBean" class="org.springframework.aop.support.NameMatchMethodPointcut"> -->
<!-- 		<property name="mappedNames"> -->
<!-- 			<list> -->
<!-- 				<value>sa*</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="defaultAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor"> -->
<!-- 		<property name="advice" ref="moocBeforeAdvice" /> -->
<!-- 		<property name="pointcut" ref="pointcutBean" /> -->
<!-- 	</bean> -->
	
<!-- 	<bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> -->
<!-- 		<property name="target"> -->
<!-- 			<ref bean="bizLogicImplTarget"/> -->
<!-- 		</property> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>defaultAdvisor</value> -->
<!-- 				<value>moocAfterReturningAdvice</value> -->
<!-- 				<value>moocMethodInterceptor</value> -->
<!-- 				<value>moocThrowsAdvice</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean>   -->
        
        

<!-- 	<bean id="bizLogicImplTarget" class="com.imooc.aop.api.BizLogicImpl"></bean> -->

<!-- 	<bean id="bizLogicImpl" class="org.springframework.aop.framework.ProxyFactoryBean"> -->
<!-- 		<property name="proxyInterfaces"> -->
<!-- 			<value>com.imooc.aop.api.BizLogic</value> -->
<!-- 		</property> -->
<!-- 		<property name="target"> -->
<!-- 			<bean class="com.imooc.aop.api.BizLogicImpl"></bean> -->
<!-- 			<ref bean="bizLogicImplTarget"/> -->
<!-- 		</property> -->
<!-- 		<property name="interceptorNames"> -->
<!-- 			<list> -->
<!-- 				<value>moocBeforeAdvice</value> -->
<!-- 				<value>moocAfterReturningAdvice</value> -->
<!-- 				<value>moocMethodInterceptor</value> -->
<!-- 				<value>moocThrowsAdvice</value> -->
<!-- 				<value>mooc*</value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean>   -->




	<bean id="baseProxyBean" class="org.springframework.aop.framework.ProxyFactoryBean" 
			lazy-init="true" abstract="true"></bean>
	
	<bean id="bizLogicImpl"  parent="baseProxyBean">
		<property name="target">
			<bean class="com.imooc.aop.api.BizLogicImpl"></bean>
		</property>
		<property name="proxyInterfaces">
			<value>com.imooc.aop.api.BizLogic</value>
		</property>
		<property name="interceptorNames">
			<list>
				<value>moocBeforeAdvice</value>
				<value>moocAfterReturningAdvice</value>
				<value>moocMethodInterceptor</value>
				<value>moocThrowsAdvice</value>
			</list>
		</property>
	</bean>

 </beans>
