<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myimooc.boot.small.server.mapper.AreaMapper">

    <resultMap id="baseResultMap" type="com.myimooc.boot.small.server.po.Area">
        <id column="area_id" property="areaId" jdbcType="INTEGER" javaType="Integer"/>

        <result column="area_name" property="areaName" jdbcType="VARCHAR" javaType="String"/>
        <result column="priority" property="priority" jdbcType="VARCHAR" javaType="Integer"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="Date"/>
        <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP"
                javaType="Date"/>
    </resultMap>

    <sql id="baseColumnAll">
        area_id,area_name,priority,create_time,last_edit_time
    </sql>

    <sql id="baseColumnInsert">
        area_name,priority,create_time,last_edit_time
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="areaId" keyColumn="area_id"
            parameterType="com.myimooc.boot.small.server.po.Area">
        insert into tb_area(<include refid="baseColumnInsert"/>)
        values(#{areaName},#{priority},#{createTime},#{lastEditTime})
    </insert>

    <update id="update" parameterType="com.myimooc.boot.small.server.po.Area">
        update tb_area
        <set>
            <if test="areaName != null">area_name=#{areaName},</if>
            <if test="priority != null">priority=#{priority},</if>
            <if test="lastEditTime != null">last_edit_time=#{lastEditTime}</if>
        </set>
        where area_id = #{areaId}
    </update>

    <delete id="delete">
        delete from tb_area where area_id = #{areaId}
    </delete>

    <select id="listAll" resultMap="baseResultMap">
        select
        <include refid="baseColumnAll"/>
        from tb_area order by priority desc
    </select>

    <select id="findById" resultMap="baseResultMap">
        select
        <include refid="baseColumnAll"/>
        from tb_area where area_id = #{areaId}
    </select>

</mapper>