<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="mockAspect" class="com.myimooc.spring.simple.aop.schema.advice.MockAspect"/>

    <bean id="aspectBiz" class="com.myimooc.spring.simple.aop.schema.advice.biz.AspectBiz"/>

    <aop:config>
        <aop:aspect id="mockAspectAOP" ref="mockAspect">
            <!--            <aop:pointcut-->
            <!--                    expression="execution(* com.myimooc.spring.simple.aop.schema.advice.biz.*Biz.*(..))"-->
            <!--                    id="mockPointcut"/>-->
            <!--            <aop:before method="before" pointcut-ref="mockPointcut"/>-->
            <!--            <aop:after-returning method="afterReturning" pointcut-ref="mockPointcut"/>-->
            <!--            <aop:after-throwing method="afterThrowing" pointcut-ref="mockPointcut"/>-->
            <!--            <aop:after method="after" pointcut-ref="mockPointcut"/>-->
            <!--            <aop:around method="around" pointcut-ref="mockPointcut"/>-->

            <!--            <aop:around method="aroundInit" pointcut="execution(* com.myimooc.spring.simple.aop.schema.advice.biz.AspectBiz.init(String, int))-->
            <!--             							and args(bizName, times)" arg-names="pjp,bizName,times"/>-->

            <aop:declare-parents
                    types-matching="com.myimooc.spring.simple.aop.schema.advice.biz.*+)"
                    implement-interface="com.myimooc.spring.simple.aop.schema.advice.Fit"
                    default-impl="com.myimooc.spring.simple.aop.schema.advice.FitImpl"/>
        </aop:aspect>
    </aop:config>

</beans>
