<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--作用域：原型；每次都生成新的实例-->
    <bean id="beanScope" class="com.myimooc.spring.simple.bean.BeanScope" scope="prototype"/>

    <!--默认值：作用域：单例；只生成一个实例-->
    <bean id="beanScopeSingleton" class="com.myimooc.spring.simple.bean.BeanScope"/>

</beans>
