<html>
<head>
<title>后台数据管理系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css"
	href="[@common.ctx /]/static/plugin/easyui1.5.1/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="[@common.ctx /]/static/plugin/easyui1.5.1//themes/icon.css">
<script type="text/javascript"
	src="[@common.ctx /]/static/plugin/easyui1.5.1//jquery.min.js"></script>
<script type="text/javascript"
	src="[@common.ctx /]/static/plugin/easyui1.5.1/jquery.easyui.min.js"></script>

<script type="text/javascript"
	src="[@common.ctx /]/static/script/student.js"></script>
<script type="text/javascript">
	var ctx = '[@common.ctx /]';
</script>
</head>
<body class="easyui-layout">
	<div id="lay" class="easyui-layout" style="width: 100%; height: 100%">
		<div region="center">
			<table id="t_student"></table>
		</div>
	</div>
</body>
</html>
