<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>用户注册页面</title>
</head>
<body>
<form action="/regist" method="post">
    <table width="600" border="1">
        <tr>
            <td>用户名</td>
            <td><input type="text" name="username"/> </td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input type="password" name="password"/> </td>
        </tr>
        <tr>
            <td>昵称</td>
            <td><input type="text" name="nickname"/> </td>
        </tr>
        <tr>
            <td>邮箱</td>
            <td><input type="text" name="email"/> </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="注册"/> </td>
        </tr>
    </table>
</form>
</body>
</html>